/* Styles pour le header */
header {
    background-color: white; /* Fond blanc pour la partie supérieure */
    text-align: left;
    display: flex;
    justify-content: flex-start; /* Aligner les éléments à l'extrémité gauche */
    align-items: center; /* Centrer verticalement */
    padding: 5px;
}

nav {
    background-color: #333;
    text-align: center;
    height: 40px;

}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.nav-color a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.nav-color a:hover {

    color: cornflowerblue;
}

.logo {
    margin-left: 20px;
}

h1 {
    margin: 0;
    color: #000;
    font-size: 16px;
    margin-left: 10px;
}

/* Styles pour la bannière */
.banner {

    background-size: cover;
    height: 100px; /* Hauteur de la bannière  */

}
